<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>SVIRAF</title>
    <link id="index_css" rel="stylesheet" type="text/css" />
    <script id="index_js" type="text/javascript"></script>
    <script>
        window.onload = function() {
            document.getElementById("index_css").href = "css/index.css?_v=" + Math.random();
            var indexJs = document.getElementById("index_js");
            indexJs.src = "js/index.js?_v=" + Math.random();
            indexJs.onload = function() {
                insertIrafl();
            };
        };
    </script>
</head>
<body>
    <div style="border: 1px solid black; text-align: center;">
        <p>SVIRAF Index</p>
    </div>
    <div>
        <div id="irafl_tags">
        </div>
        <div id="irafl_params">
            <div id="d_0" style="display: block;">
            </div>
            <div id="d_1" style="display: none;">
                <span>radius: <input id="in_1_radius" type="text" value="3" /></span>
            </div>
            <div id="d_2" style="display: none;">
                <input id="in_2_text" readonly="1" onclick="selectFile('in_2_file', 'in_2_img', 'in_2_text');" />
                <span>filter size: <input id="in_2_filter_size" type="text" value="16" /></span>
                <br>
                <input style="display: none;" type="file" id="in_2_file" name="filter" accept="image/x-png,image/jpeg,image/bmp" />
                <img id="in_2_img" />
            </div>
            <div id="d_3" style="display: none;">
                <span>radius: <input id="in_3_radius" type="text" value="32.0" /></span>
                <br>
                <span>search times: <input id="in_3_search_times" type="text" value="32" /></span>
            </div>
        </div>
        <table style="width: 100%;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><input id="input_text" style="width: 100%;" readonly="1" onclick="selectFile('file', 'source', 'input_text');" /></td>
                <td width="64px"><button style="width: 100%;" onclick="uploadAndFilter();">Button</button></td>
            </tr>
        </table>
        <input style="display: none;" type="file" id="file" name="file" accept="image/x-png,image/jpeg,image/bmp" />
        <div id="div_src" style="display: block;">
            <img id="source" />
        </div>
        <div id="div_res" style="display: block;">
            <img id="result" />
        </div>
    </div>
</body>
</html>
